<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webpack</title>
</head>
<body ng-app="application">
    {{> header}}
    
    <p class="home_page">Maybe a map with product locations?</p>
    <div class="home_page_buttons">
        <a href="./addProduct.html" class="btn btn-primary btn-lg">Add Product</a>
        <a href="./addBox.html" class="btn btn-primary btn-lg">Register Your Box</a>
    </div>
</body>
</html>


